products-sf-sync-app/src/main/mule/subflows/listener-based-batches/batch-job-full-page-lb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="batch-job-full-page-lb-flow"
		doc:id="39c7bae9-4cc7-4542-8bb8-17485dc6f1ae">
		<batch:job jobName="batch-job-1-for-lb"
			doc:id="369b56d5-3ffb-4a29-90ba-c3004bf57bc1" maxFailedRecords="-1"
			blockSize="200">
			<batch:process-records>
				<batch:step name="batch-step-1-lb"
					doc:id="28d86256-6c48-412c-bf70-d67ad5e64c89">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="0573088a-d581-414f-ad28-805fb57eed32" size="200"
						preserveMimeTypes="true">
						<salesforce:upsert objectType="Product2"
							externalIdFieldName="ItemID__c" doc:name="lumicorDB to Product2"
							doc:id="bdfd7ce5-2b4b-4353-97db-63fb3bc48ebf"
							config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger: payload" doc:id="fe46d9ed-120e-4f60-966e-e64ac87f5f5c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;payload.items..exception..message]' />

					
</batch:aggregator>
				</batch:step>
				<batch:step name="batch-step-2-lb" doc:id="3344c9d2-6d6f-4f60-ba9e-4c0e10121e20" acceptPolicy="ONLY_FAILURES">
					<batch:aggregator doc:name="Batch Aggregator fls" doc:id="16881a83-10d3-43cd-8d32-d6a415134071" size="200" preserveMimeTypes="true">
						<logger level="INFO" doc:name="Logger: payload" doc:id="357e52d7-ac52-4f06-b972-22c6581d857b" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"message": "The mentioned records have errored out",&#10;	"records": payload.*ItemID__c&#10;}]' />
					</batch:aggregator>
				
</batch:step>

			
</batch:process-records>
			<batch:on-complete>
				<os:store doc:name="Storing offset"
					doc:id="07d4818b-ab54-4a13-bba1-a377b6427cda" key='#["offset"]'
					objectStore="Object_store_pagination_lb">
					<os:value><![CDATA[#[vars.offset as Number + vars.fetch as Number]]]></os:value>
				</os:store>
				<vm:publish doc:name="Publish"
					doc:id="c9076a63-4efd-4d2c-92a5-622b8d356b4c"
					config-ref="VM_Config" queueName="listenerBasedSyncQueue">
					<vm:content><![CDATA[#[%dw 2.0
output application/json
---
{
	"trackingID": vars.trackingID,
	"beginDate": vars.beginDate,
	"endDate": vars.endDate
}]]]></vm:content>
				</vm:publish>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
